
* {
    box-sizing: border-box;
}
body { 
    margin: 0; 
}
.section {
    width: 100%;
}
.section.section-1 {
    height: 300px;
    border-bottom: 1px solid gray;
    background-image: url('ava7patterns_pattern_1820.png');
    background-repeat: repeat;
    opacity: .7;
}
.section.section-2 {
    height: 1100px;
    border-bottom: 1px solid gray;
    background-image: url('ava7patterns_pattern_1857.png');
    background-repeat: repeat;
}
.section.section-3 {
    height: 300px;
    background-image: url('ava7patterns_pattern_1820.png');
    background-repeat: repeat;
    opacity: .7;
}
.container {
    position: relative;
}

.container.container-1 {
    display: inline-block;
    background-color: rgba(215, 210, 197, 0.57);
    top: 50px;
    width: 30%;
    height: 400px;
    left: 5%;
    border: 0.5px solid rgba(215, 210, 197, 0.8);
}
.container.container-2 {
    display: inline-block;
    top: 50px;
    background-color: rgba(62, 61, 61, 0.4);
    width: 55%;
    height: 400px;
    left: 10%;
    border: 0.5px solid rgba(62, 61, 61, 0.4);
}
.container.container-3 {
    background-color: rgba(118, 109, 81, 0.57);
    display: inline-block;
    top: 100px;
    width: 55%;
    height: 400px;
    left: 5%;
    border: 0.5px solid rgba(62, 61, 61, 0.4);
}
.container.container-4 {
    background-color: rgba(171, 72, 158, 0.57);
    display: inline-block;
    top: 100px;
    width: 30%;
    height: 400px;
    left: 10%;
    border: 0.5px solid rgba(215, 210, 197, 0.8);
}

.image {
    position: absolute;
    bottom: 2px;
    left: 2px;
    right: 2px;
    max-width: calc(100% - 4px);
    max-height: 250px;
    
}
.image.one {
    min-width: 6.4px;
    min-height: 4.28px;
}
.image.two {
    min-width: 10.25px;
    min-height: 12.8px;
}
.image.three {
    min-width: 11.69px;
    min-height: 11.69px;
}
.image.four {
    min-width: 10.8px;
    min-height: 10.8px;
}

.span {
    font-family: monospace;
    font-size: 26px;
    font-weight: bold;
}
.span.span-1 {
    color: blue
}

.span.span-2 {
    color: green;

}
.span.span-3 {
    color: brown;
}
.span.span-4 {
    color: blueviolet;
}

.p {
    font-family: monospace;
    top: 0;
}
.p.p1 {
    color: rgb(55, 28, 119);
    font-size: 24px;
    font-weight: bolder;
}
.p.p2 {
    display: inline-block;
    color: rgb(207, 207, 48);
    font-size: 18px;
    font-weight: lighter;
}
.p.p3 {
    display: inline-block;
    color: rgb(100, 89, 0);
    font-size: 18px;
    font-weight: lighter;
}
.p.p4 {
    display: inline-block;
    color: rgb(30, 0, 97);
    font-size: 18px;
    font-weight: lighter;
}
.p.p5 {
    display: inline-block;
    color: rgb(241, 224, 147);
    font-size: 18px;
    font-weight: lighter;
}
.p.p6 {
    color: rgb(8, 109, 31);
    font-size: 24px;
    font-weight: bolder;
}
.p.p7 {
    color: rgb(211, 180, 121);
    font-size: 24px;
    font-weight: bolder;
}
.p.p8 {
    color: rgb(219, 159, 46);
    font-size: 24px;
    font-weight: bolder;
}

table {
    margin: 0 auto;
    border: 5px solid rgb(0, 0, 0);
    border-collapse: collapse;
}
th {
    font-family: monospace;
    font-size: 24px;
    color: rgb(57, 4, 71);
    border: 5px solid rgb(0, 0, 0);
    height: 100px;
    width: 300px;
}
tr {
    border: 5px solid rgb(0, 0, 0);
    height: 100px;
    width: 300px;
}
.th.th-1 {
    background: linear-gradient(orange, rgb(127, 53, 151));
}
.th.th-2 {
    background: radial-gradient(orange, rgb(127, 53, 151));
}
.th.th-3 {
    background: repeating-linear-gradient(orange, rgb(130, 64, 211), khaki 10%, plum 15%);
}
.th.th-4 {
    background: repeating-radial-gradient(orange, rgb(127, 53, 151), khaki 10%, plum 15%);
}