header {
    border-bottom: 0.5px solid rgb(226, 226, 243);
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgba(240, 255, 255, 0.507);
}
body {
    background-image: url("pattern-triangle-hex-net.png");
    background-size: cover;
}
.container {
    display: inline-block;
}
.container.container-1 {
    font-family:monospace;
    margin-left: 10px;
    width: 620px;
    min-height: 300px;
    max-height: 1020px;
    border: 4px solid rgb(0, 0, 47);
    border-radius: 1.5%;
    padding-left: 12px;
    padding-right: 12px;
    float: left;
}
.container.container-2 {
    font-family: serif;
    border: 4px dashed rgb(50, 2, 47);
    margin-left: 10px;
    width: 560px;
    height: 560px;
    left: 23px;
    padding-left: 12px;
    padding-right: 12px;
    float: left;
}
.container.container-3 {
    font-family:unset;
    border: 4px  dotted rgb(56, 3, 3);
    float: right;
    margin-right: 32px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 0 20px;
    width: 500px;
    height: 160px;
}
.container.container-4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 4px double rgb(0, 36, 4);
    float: right;
    margin-right: 32px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 0 20px;
    width: 400px;
    height: 800px;
}
.container.container-5 {
    display: block;
    font-family: 'Helvetica Neue';
    margin: auto;
    border: 4px inset rgb(5, 35, 47);
    width: 900px;
    height: 300px;
}
.clear {
    clear: both;
}
#header-p {
    font-family: monospace;
    font-size: 36px;
}
table{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20%;
    border-collapse: collapse;
}
tr, th {
    border: 5px solid gray;
    width: 180px;
    height: 120px;
    padding: 10px;
    vertical-align: middle;
}

h1 {
    font-family: monospace;
    font-weight: bold;
    font-size: 64px;
}
#p-cont1 {
    font-size: 22.5px;
}
#p-cont2 {
    font-size: 19px;
}
#p-cont3 {
    font-size: 9.2px;
}
#p-cont4 {
    font-size: 16.5px;
}
#p-cont5 {
    font-size: 16.5px;
}